<div class="relative border-2 border-dashed border-font h-[30vh] w-4/5 overflow-y-hidden">
    <div class="h-full w-full">
        <img class="h-full w-full object-cover" src="{{ data['image'] }}"/>
    </div>

    <div class="absolute top-0 left-0 flex flex-col items-center justify-center bg-primary/80 w-full h-full">
        <p class="border-dashed border-2 border-font/30 text-l text-font/30 my-3 py-3 px-4">{{ data["subtitle"] }}</p>
        <h1 class="text-8xl font-bold text-font/80">{{ data["title"] }}</h1>
        <div class="mt-8 text-font/55 text-lg text-center">
            <p>
                {{ data["line1"] }}
            </p>
            <p>
                {{ data["line2"] }}
            </p>
        </div>
    </div>
</div>