{% extends 'routes/base.html' %} 

{% block content %}
<style>
  .education {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-color: white;
    border-style: dashed;
    border-width: 2px;
  }

  .vertical-text {
    transform: rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
 }

</style>
<main>
  <div
    class="relative w-screen left-1/2 right-1/2 ml-[-50vw] mr-[-50vw] pb-64 flex flex-col items-center justify-center"  
  >
    <!-- Hero Section -->
    <div class="w-4/5 mt-8 flex flex-row h-[70vh] border-2 border-dashed">
      <div class="relative w-2/5 h-full">
        <img src="../../static/img/headshot.JPG" class="h-full w-full" />
        <div class="absolute top-0 left-0 h-full w-full bg-primary/20"></div>
      </div>

      <div
        class="bg-secondary w-3/5 flex flex-col justify-center items-start pl-32"
      >
        <div class="text-7xl font-semibold text-font mb-10">
          <h1>Hi,</h1>
          <h1>I'm Ethan</h1>
        </div>

        <div class="text-3xl font-light text-font/80 mb-10">
          <h2>Student.</h2>
          <h2>Programmer.</h2>
          <h2>Startup Founder.</h2>
        </div>

        <div class="text-3xl font-light text-font/80">
          <h2>no idea is too big, or too small.</h2>
          <h2>robots, or producing dope beats.</h2>
        </div>
      </div>
    </div>

    <!-- Education Section -->
    <div class="mt-16 flex flex-col border-2 border-dashed w-4/5 mb-16 bg-secondary">
      <div class="w-full flex flex-col items-center justify-center p-16">
        <h2 class="text-6xl font-semibold text-font mb-8 mt-10">my education.</h2>
        <h3 class="text-2xl font-light text-font/40 mb-10 w-1/2 text-center">
          after it's all said and done, everyone who made it past week 3 is
          invited out to a 3-day IRL event. the next irl event is in san francisco
          early august.
        </h3>
      </div>

      <div class="flex flex-row">
        <!-- Western Ivey Section -->
        <div
          class="education mr-3 p-16 text-font hover:text-font/40 transition-colors duration-300 cursor-pointer"
        >
          <img class="w-1/2 h-[55%] mt-4" src="../../static/img/ivey.png" />
          <h3 class="text-2xl font-light mt-16">
            richard ivey school of business
          </h3>
        </div>

        <!-- Western CS Section -->
        <div
          class="education p-16 text-font hover:text-font/40 transition-colors duration-300 cursor-pointer"
        >
          <img class="w-1/2 h-3/5 mt-5" src="../../static/img/western.png" />
          <h3 class="text-2xl font-light mt-16">university of western ontario</h3>
        </div>
      </div>
    </div>
  <div>

    <!-- Timeline -->
    <div>
        {%- for item in timeline %} 
            {% if item.index % 2 == 0 %} 
            
            {% else %} 

            {% endif %} 

            <!-- Timeline Bar Thing-->
            <div class="flex flex-col justify-center items-center mx-8">
                <div class="w-8 h-full flex flex-col justify-center items-center">
                    <!-- Weird Ball Thing -->
                    {% if item.index == 0 %}
                        <div class="p-4 bg-darkTertiary rounded-full"></div>
                    {% endif %}

                    <p class="{{ item.padding }} vertical-text font-extrabold text-3xl text-font">
                        {{ item.date }}
                    </p>
                    <!-- Vertical Bar -->
                    <div class="h-[90%] -mt-10 w-2 {% if item.index == 0 %} rounded-b-full {% else %} rounded-full {% endif %} bg-tertiary"></div>
                </div>
            </div>


            {% if item.index % 2 == 1 %} 
            
            {% else %} 
            
            {% endif %} 
        {%- endfor %}
    </div>
  </div>
</main>

{% endblock %}
