name: Run Tests

on: 
    push:
        branches:
            - main
    pull_request:
        brnahces:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        name: Run Tests
        env:
            TESTING: true
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v2
            
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.11.2'
            
            - name: Install Dependencies
              run: python3-virtualenv/bin/pip install -r requirements.txt

            - name: Run Tests
              run: ./scripts/run_test.sh